asgiref==3.11.1
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
cloudinary==1.44.2
cryptography==48.0.0
Django==6.0.5
django-allauth==65.16.1
django-cloudinary-storage==0.3.0
gunicorn==26.0.0
idna==3.15
jwt==1.4.0
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.12
pycparser==3.0
PyJWT==2.12.1
python-decouple==3.8
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0
